body {
    margin: 0;
    font-family: Arial;
    background-color: #CCCCCC;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: #1B1026;
}
nav a {
    float: right;
    display: block;
    height: 100px;
    line-height: 100px;
    width: 150px;
    text-align: center;
    color: #7E6E8E;
    text-decoration: none;
    font-size: 2em;
}

.active {
    background-color: #FC3100;
    color: #1B1026;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
}

section {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    text-align: center;
    font-size: 1.8em;
}

footer p {
    text-align: center;
    font-size: 1.5em;
}